@page "/counter"
@using Microsoft.AspNetCore.Http
@inject ToDoApp.UI.IAdminClient AdminClient
<AuthorizeView>
<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn" @onclick="ShowToken">Show Token</button>

<p>Token: @token</p>
@code {
    string token = "";
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }

    async void ShowToken()
    {
        try
        {
            var state = await AdminClient.ListAllUsersAsync(new ListToDoUsersQuery());

            token = state.Items.FirstOrDefault()?.Mail;
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }
}

</AuthorizeView>
