

<AuthorizeView>
    <Authorized>    
        <a class="nav-link text-light" href="/dologout" Match="NavLinkMatch.All">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link text-light" href="/login" Match="NavLinkMatch.All">Log in</a>
    </NotAuthorized>
</AuthorizeView>

